.hello_world{
    color: white; 
    line-height: 256px; 
    text-align: center;
    height: 256px;
    width: 256px;
    margin: 0px auto;
    border-radius: 50%;

    animation:rotate 3s linear infinite;
    -webkit-animation:rotate 3s linear infinite;
}

@keyframes rotate
{
    0% {transform:rotate(0deg);background-color:#06f;font-size: 10pt; }
    50% {transform:rotate(180deg);background-color:#f60;font-size: 30pt; }
    100% {transform:rotate(360deg);background-color:#06f;font-size: 10pt; }
}
 
@-webkit-keyframes rotate
{
    0% {-webkit-transform:rotate(0deg);background-color:#06f;font-size: 10pt; }
    50% {-webkit-transform:rotate(180deg);background-color:#f60;font-size: 30pt; }
    100% {-webkit-transform:rotate(360deg);background-color:#06f;font-size: 10pt; }
}