#hello_world_canvas{
	background:rgba(255,255,255,0);
	position:fixed;
	z-index:0;
	top:0px;
	left:0px;
}

.hello_world{
    z-index:1;
    color: white; 
    background: #000;
    line-height: 256px; 
    height: 256px;
    width: 256px;
    left: calc(50% - 128px);
    top: calc(50% - 128px);
    border-radius: 50%;
    position:relative;
    cursor: pointer;
    
    animation:size 0.5s linear infinite;
    -webkit-animation:size 0.5s linear infinite;
}

.hello_world:hover{
    background:#555;
}

.hello_world div{
    font-size:30pt;
    text-align: center;
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;

    animation:rotate 3s ease infinite;
    -webkit-animation:rotate 3s ease infinite;
}

.hello_world div:hover{
    animation:none;
    -webkit-animation:none;
}

@keyframes rotate
{
    0% {
        transform:rotate(0deg);
        font-size: 30pt;
    }
    50% {
        transform:rotate(180deg);
        font-size: 10pt;
    }
    100% {
        transform:rotate(360deg);
        font-size: 30pt;
    }
}
 
@-webkit-keyframes rotate
{
    0% {
        -webkit-transform:rotate(0deg);
        font-size: 30pt; 
    }
    50% {
        -webkit-transform:rotate(180deg);
        font-size: 10pt;
    }
    100% {
        -webkit-transform:rotate(360deg);
        font-size: 30pt; 
    }
}

@keyframes size
{
    0% {
        height: 256px;
        width: 256px;
        line-height: 256px; 
        left: calc(50% - 128px);
        top: calc(50% - 128px);
    }
    50% {
        height: 280px;
        width: 280px;
        line-height: 280px; 
        left: calc(50% - 140px);
        top: calc(50% - 140px);
    }
    100% {
        height: 256px;
        width: 256px;
        line-height: 256px; 
        left: calc(50% - 128px);
        top: calc(50% - 128px);
    }
}

.circle1{
    height: 260px;
    width: 260px;
    left:calc(50% - 260px/2 - 30px);
    top:calc(50% - 260px/2 - 30px);
    border-radius: 50%;
    border:#000 solid 30px;
    position:fixed;

    animation:change_size 1s linear infinite;
    -webkit-animation:change_size 1s linear infinite;
}

.circle2{
    height: 260px;
    width: 260px;
    left:calc(50% - 260px/2 - 30px);
    top:calc(50% - 260px/2 - 30px);
    border-radius: 50%;
    border:#000 solid 30px;
    position:fixed;

    animation:change_size 1s linear 0.5s infinite;
    -webkit-animation:change_size 1s linear 0.5s infinite;
}

@keyframes change_size{
    from{
        height: 260px;
        width: 260px;
        left:calc(50% - 260px/2 - 30px);
        top:calc(50% - 260px/2 - 30px);
        opacity: 1;
    }
    to{
        height: 400px;
        width: 400px;
        left:calc(50% - 400px/2 - 30px);
        top:calc(50% - 400px/2 - 30px);
        opacity: 0;
    }
}

@-webkit-keyframes change_size{
    from{
        height: 260px;
        width: 260px;
        left:calc(50% - 260px/2 - 30px);
        top:calc(50% - 260px/2 - 30px);
        opacity: 1;
    }
    to{
        height: 400px;
        width: 400px;
        left:calc(50% - 400px/2 - 30px);
        top:calc(50% - 400px/2 - 30px);
        opacity: 0;
    }
}